Source: qucs-s
Section: electronics
Priority: optional
Maintainer: lhdjply <lhdjply@126.com>
Build-Depends: debhelper-compat (= 13),
               cmake, 
               flex,
               bison,
               qt6-base-dev,
               qt6-tools-dev,
               qt6-svg-dev,
               qt6-charts-dev,
               gperf,
               dos2unix
Rules-Requires-Root: no
Standards-Version: 4.6.0
Homepage: https://github.com/ra3xdh/qucs_s/
Vcs-Browser: https://github.com/deepin-community/qucs-s
Vcs-Git: https://github.com/deepin-community/qucs-s.git

Package: qucs-s
Section: electronics
Priority: optional
Architecture: any
Depends: 
 ${shlibs:Depends},
 ${misc:Depends},
 ngspice (>= 45)
Description: Quite Universal Circuit Simulator with SPICE (Qucs-S)
 allows to simulate electronic circuits with SPICE-compatible kernels
